@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_back_ios,arrow_forward,arrow_forward_ios,article,award_star,book,build,calendar,cancel,check,check_circle,close,code,extension,flag,home,import_contacts,info,key,language,location_on,memory,mode_heat,notifications,person,search,settings,smart_display,star&display=block');

@import "tailwindcss";
/* Note: You may need to change the path to fit your project structure */
@config "../tailwind.config.js";

/* The @base sets rules globally for the text. The @apply rule sets the font sizes and colors */
@layer base {
  h1 {
    @apply text-4xl;
    font-family: "Geist Mono";
    font-weight: 600;
    text-align: start;
  }
  h2 { 
    @apply text-2xl;
    font-family: "Geist Mono";
    font-weight: 600;
    text-align: start; 
  }
  h3 {
    @apply text-xl;
    font-family: "Geist Mono";
    font-weight: 600;
    text-align: start;
  }
  h4 {
    @apply text-lg;
    font-family: "Geist";
    font-weight: 700;
    text-align: start;
  }
  h5 {
    @apply text-base;
    font-family: "Geist Mono";
    font-weight: normal;
    text-align: start;
    @apply text-default-500;
  }
  p {
    @apply text-sm;
    font-family: "Geist";
    font-weight: normal;
    text-align: start;
  }
  body {
    @apply text-base;
    font-family: "Geist";
    text-align: start;
  }
}

/* body {
  font: 1em "Geist";
}

h1 {
  font-family: "Geist Mono";
  font-size: var(--text-4xl);
  font-weight: 600;
  text-align: start;
}

h2 {
  font-family: "Geist Mono";
  font-size: var(--text-xl);
  font-weight: 600;
}

h3 {
  font-family: "Geist Mono";
}

p {
  font-family: "Geist";
  font-weight: 500;
  font-size: "light";
} */